/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.w-50{
  width: 50%;
}

body{
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: gray;
}

/* HEADER */

header{
  background-color: #0C325A;
  height: 550px;
  width: 100%;
  overflow: hidden;
}

.header-container{
  width: 80%;
  margin: auto;
  height: 100%;
  min-width: 1400px;
  padding: 0 10%;
  background-image: url(img/background-header.png);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: 115% 100%;
}



.header-nav{
  height: 80px;
  line-height: 80px;
 /*  overflow: hidden; */
}

.header-nav .header-logo{
  width: 15%;
}

.header-nav .header-logo img{
  margin-top: 15px;
}

.header-nav .header-nav-center{
  width: 45%;
}

.header-nav .header-nav-right{
  width: 40%;
  text-align: right;
}

.menu li a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80%;
  list-style: none;
}

.menu{
  list-style: none;
}

.menu li{
  display: inline;
  padding: 0 10px;
}

/* BOTTONI */

.button{
  display: inline-block;
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
}

.button.button-blue{
 /*  background-color: #0C325A; */
  border: 1px solid white;
}

.button.button-green{
  background-color: #7CBB04;
  
}

.button-large{
 padding: 15px;
 text-transform: uppercase;

}

.jumbotron{
  position: relative;
  height: 470px;
}

.jumbotron-text{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.jumbotron-text h2{
  color: white;
  font-size: 350%;
  margin-bottom: 30px;
}

.jumbotron-text a{
  text-decoration: none;
}

.jumbotron-text h1{
  color: white;
}



.row-gray{
  width: 100%;
  height: 100px;
  background-color: #D3D3D3;
  text-align: center;
  padding: 20px 20px;

}

.row-gray h2{
  color: black;
  font-size: 20px;
  line-height: 40px;

}

span{
  color: #808080;
  font-size: 13px;
}

.main-content{
  width: 80%;
  margin: auto;
}

.colonna{
  width: 30%;
  /* background-color: indianred; */
}

.colonna-center{
  margin-left: 5%;
  margin-right: 5%;
}

.colonna img{
  width: 50%;
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
}

.colonna h4{
  color: #7DBB05;
  font-size: 20px;
  text-align: center;
  height: 50px;
}


.colonna p{
  text-align: center;
}

.riga{
  border-bottom: 1px solid gray;
  width: 20%;
  margin: auto;
  padding-top: 20px;
  margin-bottom: 20px;
}

hr{
  color:gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.primoscomparto img{
 margin-top: 15px;
}

.secondoscomparto h2{
  color: black;
  margin-bottom: 15px;
  margin-top: 15px;
}

.secondoscomparto p{
  font-size: 15px;
  margin-bottom: 15px;
}

footer{
  margin-top: 30px;
}

.footer-section{
  width: 80%;
  margin:auto;
  height: 100%;
}

.footer-text{
  width: 50%;
  text-align: left;
  padding-top: 15px;
  
}

.footer-seleziona{
  width: 25%;
  padding-top: 20px;
  
}

.footer-button {
  width: 25%;
}

.footer-btn{
  text-decoration: none;
}

.footer-seleziona div{
  display: inline-block;
  margin-left: 20px;
  border-bottom: 1px solid gray;
}

.footer-seleziona div span {
  padding-left: 55px;
}